# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.editorconfig
.gitattributes
anthos-config-management/templates/petabank/multiclusteringress.yaml
anthos-config-management/templates/petabank/multiclusterservice.yaml
anthos-config-management/templates/petabank/network-policy-gcp-l7.yaml
LICENSE
Octocat/octocat (2).png
OrgFiles/Archive.org
OrgFiles/Birthdays.org
OrgFiles/Habits.org
OrgFiles/Journal.org
OrgFiles/Metrics.org
OrgFiles/Tasks.org
rabbitmq/Dockerfile
README.md
shared-ci-cd/skaffold/build.yaml
shared-ci-cd/skaffold/render.yaml
show-notes/Emacs-Desktop-01.org
show-notes/Emacs-Desktop-02.org
show-notes/Emacs-Desktop-04.org
show-notes/Emacs-Desktop-06.org
show-notes/Emacs-Tips-04.org
show-notes/Emacs-Tips-05.org
show-notes/Emacs-Tips-06.org
show-notes/Emacs-Tips-07.org
show-notes/Emacs-Tips-08.org
show-notes/Emacs-Tips-Cleaning.org
show-notes/Emacs-Tips-Prescient.org
spec/helpers/content-helpers.ts
spec/helpers/helpers.ts
spec/helpers/rx-stomp-factory.ts
spec/unit/before-connect.spec.ts
spec/unit/connection.spec.ts
spec/unit/deactivate.spec.ts
spec/unit/log-bodies.spec.ts
spec/unit/multiple-subscriptions.spec.ts
spec/unit/rpc.spec.ts
spec/unit/subscriptions.spec.ts
spec/unit/websocket-error.spec.ts
src/client.js
src/i-rx-stomp-publish-params.ts
src/i-watch-params.ts
src/index.ts
src/rx-stomp-config.ts
src/rx-stomp-rpc-config.ts
src/rx-stomp-rpc.ts
src/rx-stomp-state.ts
src/rx-stomp.ts
src/server.js
src/service-worker.js
src/support/logging/cs-cz/sources/ws.dat
src/template.html
src/test2/solution1/Assets/LockScreenLogo.scale-200.png
src/test2/solution1/Assets/SplashScreen.scale-200.png
src/test2/solution1/Assets/Square150x150Logo.scale-200.png
src/test2/solution1/Assets/Square44x44Logo.scale-200.png
src/test2/solution1/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
src/test2/solution1/Assets/StoreLogo.png
src/test2/solution1/Assets/Wide310x150Logo.scale-200.png
src/test2/solution1/MainPage.xaml
src/test2/solution1/MainPage.xaml.vb
src/test2/solution1/My Project/App.xaml
src/test2/solution1/My Project/AssemblyInfo.vb
src/test2/solution1/My Project/Default.rd.xml
src/test2/solution1/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.vb
src/test2/solution1/obj/ARM/Debug/App.g.vb
src/test2/solution1/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/test2/solution1/obj/ARM/Debug/solution1.vbprojAssemblyReference.cache
src/test2/solution1/obj/ARM/Debug/XamlSaveStateFile.xml
src/test2/solution1/Package.appxmanifest
src/test2/test2.sln
src/think_like_computer/start-exwm.sh
test/install.sh
test/setup/cloudbuild.yaml
test/setup/iam.tf
test/setup/main.tf
test/setup/outputs.tf
test/setup/variables.tf
test/setup/versions.tf
test/setup_teardown.sh
test/test.sh
test2/.vs/test2/v16/.suo
test2/solution1/obj/project.assets.json
test2/solution1/obj/project.nuget.cache
test2/solution1/obj/solution1.vbproj.nuget.dgspec.json
test2/solution1/obj/solution1.vbproj.nuget.g.props
test2/solution1/obj/solution1.vbproj.nuget.g.targets
test2/solution1/solution1.vbproj
test2/v16/.suo
test2/v16/2XC.v8.7.1.42832.200623.1641.bin
test2/v16/test2.sln
