
.travis.yml
functions/__bass.py
functions/bass.fish
Makefile
README.md
test/fixtures/alias.sh
test/fixtures/trailing_semicolon.sh
test/test_alias.fish
test/test_dollar_on_output.fish
test/test_non_zero_returncode.fish
test/test_trailing_semicolon.fish
